.bgk{
    text-align: left;
    font-size: larger;
}
.certi-row{
    padding: 10%;
    margin-left: 30%;
   
}
.h1{
    color: red;
}
.details{
    padding-bottom: 10%;
}
.details{
    margin-left: -5%;
}
.car-style{
    width: 100%;
}
/* .certiname{
    min-width: 60%;
}
.certi-row{
    padding: 1%;
} */
