footer {
  width: 100%;
  background-color: #b6ceb8;
  background-size: cover;

  /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  margin: auto;
}

.sizee {
  font-size: 0.8rem;
  text-align: justify;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.p {
  margin-bottom: 0px;
  margin-top: 10px;
  color: darkslategray;
}

.p:hover {
  text-decoration: underline;
}

.bayar {
  width: 50%;
  border-radius: 10px;
}

.gambar {
  width: 50%;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.r {
  padding: 40px 0px;
}

.wes {
  padding-left: 50px;
}

.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

@media screen and (max-width: 992px) {
  .r {
    padding: 40px 40px;
  }
}

@media screen and (max-width: 768px) {
  .r {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 475px) {
  .r {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pp {
    padding-bottom: 0px;
  }
}
